.u-section-1 .u-sheet-1 {
  min-height: 1007.6px;
}

.u-section-1 .u-group-1 {
  width: 1140px;
  min-height: 836px;
  margin: 30px 0;
}

.u-section-1 .u-image-1 {
  width: 344px;
  height: 228px;
  text-align: start;
  margin: 2px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-align: center;
  margin: -230px auto 0 0;
  padding: 102px 168px 103px 167px;
}

.u-section-1 .u-image-2 {
  width: 344px;
  height: 228px;
  text-align: start;
  margin: -228px auto 0 398px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-align: center;
  margin: -230px auto 0 398px;
  padding: 102px 168px 103px 167px;
}

.u-section-1 .u-image-3 {
  width: 344px;
  height: 228px;
  text-align: start;
  margin: -228px 0 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-align: center;
  margin: -230px 0 0 auto;
  padding: 102px 168px 103px 167px;
}

.u-section-1 .u-text-1 {
  text-align: start;
  margin: 5px auto 0 503px;
}

.u-section-1 .u-text-2 {
  text-align: start;
  margin: -25px 105px 0 auto;
}

.u-section-1 .u-text-3 {
  text-align: start;
  margin: -25px auto 0 72px;
}

.u-section-1 .u-image-4 {
  width: 344px;
  height: 228px;
  text-align: start;
  margin: 30px auto 0 398px;
}

.u-section-1 .u-image-5 {
  width: 344px;
  height: 228px;
  text-align: start;
  margin: -228px auto 0 398px;
}

.u-section-1 .u-image-6 {
  width: 344px;
  height: 228px;
  text-align: start;
  margin: -228px auto 0 398px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  text-align: center;
  margin: -230px auto 0 398px;
  padding: 102px 168px 103px 167px;
}

.u-section-1 .u-image-7 {
  width: 344px;
  height: 228px;
  text-align: start;
  margin: -228px 0 0 auto;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  text-align: center;
  margin: -229px 0 0 auto;
  padding: 102px 168px 103px 167px;
}

.u-section-1 .u-image-8 {
  width: 344px;
  height: 228px;
  text-align: start;
  margin: -229px auto 0 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  text-align: center;
  margin: -229px auto 0 0;
  padding: 102px 168px 103px 167px;
}

.u-section-1 .u-text-4 {
  text-align: start;
  margin: 4px auto 0 503px;
}

.u-section-1 .u-text-5 {
  text-align: start;
  margin: -25px 105px 0 auto;
}

.u-section-1 .u-text-6 {
  text-align: start;
  margin: -25px auto 0 105px;
}

.u-section-1 .u-image-9 {
  width: 344px;
  height: 228px;
  text-align: start;
  margin: 30px 0 0 auto;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  text-align: center;
  margin: -230px 0 0 auto;
  padding: 102px 168px 103px 167px;
}

.u-section-1 .u-image-10 {
  width: 344px;
  height: 228px;
  text-align: start;
  margin: -228px auto 0 0;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  text-align: center;
  margin: -230px auto 0 0;
  padding: 102px 168px 103px 167px;
}

.u-section-1 .u-image-11 {
  width: 344px;
  height: 228px;
  text-align: start;
  margin: -228px auto 0 398px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  text-align: center;
  margin: -228px auto 0 398px;
  padding: 102px 168px 103px 167px;
}

.u-section-1 .u-text-7 {
  text-align: start;
  margin: 3px 105px 0 auto;
}

.u-section-1 .u-text-8 {
  text-align: start;
  margin: -25px auto 0 503px;
}

.u-section-1 .u-text-9 {
  text-align: start;
  margin: -25px auto 0 105px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 198px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 414px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 198px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 414px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 198px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 414px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 376px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 317px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 376px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 376px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 376px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 317px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 376px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 317px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 196px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 238px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 196px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 196px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 196px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 238px;
  }

  .u-section-1 .u-image-11 {
    margin-left: 196px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 238px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 225px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -179px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 225px;
    margin-top: -276px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -179px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 225px;
    margin-top: -276px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -179px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -44px;
    margin-left: 150px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 24px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 225px;
    margin-top: -21px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 225px;
    margin-top: -225px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 225px;
    margin-top: -225px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -176px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 225px;
    margin-top: -222px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -232px;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 225px;
    margin-top: -451px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -4px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -11px;
    margin-left: 150px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -62px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 27px;
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 225px;
    margin-top: -195px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -2px;
  }

  .u-section-1 .u-image-10 {
    width: 340px;
    height: 225px;
    margin-top: -277px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -178px;
  }

  .u-section-1 .u-image-11 {
    width: 340px;
    height: 225px;
    margin-top: -453px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -49px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 12px;
    margin-left: 150px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -10px;
  }
}

.Btnhome{
    background-color:#141a25;
    font-family: monospace;
}

